.navbar {
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  height: 96px;
  nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;

    .navbar__logo {
      width: 48px;
      height: 48px;
      object-fit: contain;
      display: flex;
      margin: 0 65px 0 55px;
    }

    .navbar__decor {
      width: calc(45vw - 167px);
      height: 1px;
      background-color: $whiteColor;
      opacity: 0.25;
      position: absolute;
      left: 167px;
      z-index: 2;
    }

    .navbar__list {
      height: 100%;
      flex-basis: 57.5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(0);
      background-color: $navbarBackground;
      backdrop-filter: blur(81.5485px);
      ul {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          margin-right: 48px;
          height: 100%;
          display: flex;
          align-items: center;
          &:last-of-type {
            margin-right: 0;
          }
          a {
            font-family: "Barlow Condensed", sans-serif;
            color: $whiteColor;
            text-transform: uppercase;
            letter-spacing: 2.7px;
            font-weight: 400;
            height: 100%;
            border-bottom: 3px solid transparent;
            display: flex;
            align-items: center;
            transition: border-color 0.3s ease-in-out;

            span {
              font-weight: 700;
              margin-right: 7px;
            }

            &.active,
            &:hover.active {
              border-color: $whiteColor;
            }

            &:hover {
              border-color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
    }
    .menu {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    top: 0;
    nav {
      .navbar__logo {
        margin-left: 39px;
      }

      .navbar__decor {
        display: none;
      }

      .navbar__list {
        ul {
          li {
            margin-right: 37px;
            a {
              font-size: 14px;
              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    nav {
      .navbar__list {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 254px;
        z-index: 3;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        ul {
          flex-direction: column;
          top: 0;
          bottom: 0;
          z-index: 3;
          row-gap: 32px;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0 0 0 32px;
          padding-top: 118px;

          li {
            height: auto;
            text-align: left;
            a {
              border: none;
              span {
                display: block;
              }
            }
          }
        }

        &.open {
          transform: translateX(0);
        }
      }
      .menu {
        margin-left: auto;
        margin-right: 24px;
        display: flex;
        flex-direction: column;
        width: 24px;
        cursor: pointer;
        position: absolute;
        top: 32px;
        right: 24px;
        z-index: 100;
        transform-origin: center;
        transition: all 0.3s ease-in-out;
        span {
          width: 100%;
          height: 3px;
          background-color: $blueColor;
          margin-bottom: 6px;
          transition: all 0.3s ease-in-out;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        &.open {
          span {
            &:first-of-type {
              transform: translateY(8px) rotate(-45deg);
            }
            &:nth-of-type(2) {
              transform: translateX(100%);
              opacity: 0;
              visibility: hidden;
            }

            &:last-of-type {
              transform: translateY(-10px) rotate(45deg);
            }
          }
        }
      }
    }
  }
}
